@import url('https://fonts.googleapis.com/css?family=KoHo|Raleway');


body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgb(250,250,240);
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    position: fixed;
    color: rgb(0,50,0);
}

button{
    background: transparent;
}

span{
    margin: 1vh;
}

/*HEADER*/

.header{
    width: 100vw;
    height: 14vh;
    align-content: center;
    position: relative;
    align-items: baseline;
    position: relative;
    margin-bottom: 0vh;
}

.header-center{
    border-bottom: 2px solid gray;
}

.header-mobile{
    height: 12.5vh;
    border-bottom: 2px solid gray;
    display: block;
}

.logo-center{
    font-family: 'KoHo', sans-serif;
    font-size: 8vw;
    margin-left: 30vw;
    height: 10vh;
    text-shadow: 1px 1px goldenrod;
    cursor: pointer;
}

.logo-side{
    padding-top: 3vh;
    font-family: 'KoHo', sans-serif;
    margin-top: 3.5vh;
    margin-left: 2vw;
    text-shadow: 1px 1px goldenrod;
    cursor: pointer;
    font-size: 5vh;
}

.logo-mobile{
    padding-top: 1vh;
    font-family: 'KoHo', sans-serif;
    margin-left: 25vw;
    text-shadow: 1px 1px goldenrod;
    cursor: pointer;
    font-size: 5vh;
}

#logo:hover{
    color: goldenrod;
    text-shadow: 2px 2px black;
}

.icon-container{
    width: 5vw;
    align-items: baseline;
    position: relative;
    margin-bottom: 2vh;
}

.logo-item{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    left: 0;
    bottom: 0;
}

.logo-item-side{
    max-width: 5vw;
    max-height: 7vh;
}
.toggle-buttons-full{
    width: 10vw;
    height: 10vh;
}

.toggle-buttons-side{
    width: 50vw;
    height: 10vh;
    padding-top: 8vh;
    margin-left: 20vw;
    align-items: baseline;
    position: relative;
}

.toggle-buttons-side-mobile{
    width: 50vw;
    height: 10vh;
    padding-top: 10vh;
    margin-left: 5vw;
    background: red;
}

.header-button{
    background: white;
    border: .5px solid rgb(0,50,0);
    padding: 1vh;
    height: 5vh;
    width: 7vw;
    margin-top: 1vh;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.header-button-mobile{
    font-size: 2vh;
    padding: 1vh;
    width: 16vw;
    height: 4vh;
}

.menu-button{
    position: fixed;
    margin-left: 10vw;
    padding-top: 8vh;
    z-index: 100;
}

.menu-button-mobile{
    position: fixed;
    margin-left: 5vw;
    padding-top: 0vh;
    z-index: 100;
}

.menu-button:hover{
    background: rgb(245,245,205);
    text-decoration: underline;
}

.menu-button-item{
    text-align: left;
    padding: 1vh;
}

.menu-button-item:hover{
    background: rgb(245,245,205);
}

.hover{
    color: dimgray;
}

.content{
    width: 100vw;
    height: 85vh;
}

.footer{
    width: 100vw;
    height: 5vh;
}

/*SIDEBAR*/

.sidebar-container{
    width: 20vw;
    margin: 0;
    margin-top: 0vh;
    height: 72.5vh;
}

.sidebar-header{
    font-size: 4vh;
    margin-top: 1vh;
    padding-left: 1vw;
    color: rgba(0,50,0,.5);
}

.sidebar-header-mobile{
    font-size: 2vh;
}

.sidebar-subhead{
    font-size: 3vh;
    background: rgb(245,245,245);
    border: 1px solid dimgray;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-left: 2vw;
    width: 98%;
    color: rgba(0,50,0,1);
}

.sidebar-subhead-mobile{
    font-size: 2.5vw;
}

.sidebar-subhead:hover{
    background: rgb(245,245,205); 
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.3);
}

.collections-container{
    border: 2px solid dimgray;
    background: white;
    margin: .5vw;
    padding: .1vw;
    height: 20vh;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.collection-item{
    font-weight: 800;
    background: beige;
    font-size: 2.5vh;
    height: 3.2vh;
    padding: .1vh;
    line-height: 3.2vh;
    border: 1px solid black;
    margin: .5vw;
    box-shadow: 1px 1px 1px 1px transparent, inset 0px 0px 1px 1px rgba(0,0,0,.2);
}


.collection-item-mobile{
    font-size: 1.5vh;
    height: 2.4vh;
    line-height: 2.4vh;
    border: 1px solid black;
    padding: .2vh;
    margin: .2vh;
    box-shadow: 1px 1px 1px 1px transparent;
}

.collection-item:hover{
    background: rgb(245,245,170);
    border: 1px solid dimgray;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5), inset 0px 0px 1px 1px rgba(0,0,0,.1);
}

/*SEARCH*/

.big-search-button{
    background: gainsboro;
    border: 2px solid gray;
    border-radius: 1vw;
    margin: 2vw;
    font-size: 2.5vh;
    line-height: 4vh;
    height: 4vh;
    padding-left: .5vw;
}

.big-search-button:hover{
    background: dimgray;
}

.big-search-button-mobile{
    font-size: 2vh;    
}

.search-icon{
    font-size: 2vh;
    padding: 0;
    margin: 0;
}

.dropdown-icon{
    font-size: 1.5vh;
    padding: 0;
    margin: 0;
    margin-top: -1vh;
    padding-left: -1vh;
    border-left: 2px solid gray;
}

.dropdown-icon:hover{
    background: white;
}

.header-random-button{
    border: 1px solid dimgray;
    height: 4.5vh;
    line-height: 4.5vh;
    text-align: center;
    width: 4.5vw;
    background: rgb(230,230,230);
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.1);
    border-radius: 50%;
}

.header-random-button:hover{
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,.3);
}

.random-icon{
    margin: 0;
    padding: 0;
    font-size: 2vh;
    height: 4.5vh;
}

.random-icon-mobile{
    margin: 0;
    padding: 0;
    font-size: 1vh;
}

.search-bar{
    border: 3px solid rgb(200,200,200);;
    background: rgb(245,245,245);
    text-align: right;
    border-radius: 2px;
    padding: 0;
}

.search-bar-input{
    width: 80%;
    height: 100%;
    border: none;
    background: transparent;
    text-align: right;
    font-size: 80%;
    padding: 5%;
}

.big-search{
     width: 40vw;
     height: 5vw;
     font-size: 4vh;
     line-height: 5vh;
}

.big-search-mobile{
     height: 5vh;
     font-size: 4vh;
     line-height: 5vh;
}

.big-search-container{
    display: flex;
    flex-direction: column;
    align-content:center;
    margin-top: 20vh;
    margin-left: 30vw;
    
}

.sidebar-search{
     width: 25vw;
     height: 3.5vw;
     font-size: 3vh;
     line-height: 3.5vh;
    margin-left: .5vw;
    margin-top: 1vh;
}

.sidebar-search-mobile{
     width: 25vw;
     height: 3.5vh;
     font-size: 3vh;
     line-height: 3.5vh;
    margin-left: 3vw;
}

.search-options{
    margin-left: 33vw;
    margin-top: -.5vh;
}

.search-options-item:hover{
    text-decoration: underline;
    background: rgb(245,245,205);
}

/*Advanced Search*/

.advanced-search-container{
    background: rgb(253,253,255);
    margin-top: 8vh;
    transform: translate(0vw,0vh);
    border: 2px solid dimgray;
    border-radius: 2px;
    height: 20vh;
    width: 70vw;
    padding: 1vw;
    padding-left: 2vw;
    overflow: hidden;
}

.advanced-search-results-container{
    background: rgb(253,253,255);
    margin: 1vw;
    margin-top: 8vh;
    border: 2px solid dimgray;
    border-radius: 2px;
    height: 65vh;
    width: 80vw;
    padding: 1vw;
    padding-left: 2vw;
    overflow: scroll;
}

.search-terms-container{
    height: 10vh;
    width: 78vw;
    border: 2px solid dimgray;
    border-radius: 2px;
}

.search-criteria-label{
  line-height: 5vw;
}

.advanced-select-menu{
    
}

/*RESULTS*/

.results-container,.full-container,.browse-container,.blog-container{
    background: rgb(253,253,255);
    margin: 1vw;
    margin-top: 8vh;
    border: 2px solid dimgray;
    border-radius: 2px;
    height: 86vh;
    width: 80vw;
    padding: 1vw;
    padding-left: 2vw;
    overflow: scroll;
}

.results-container-mobile,.full-container-mobile,.browse-container-mobile,.blog-container-mobile{
    
    height: 86vh;
    width: 98vw;
    padding: 1vw;
}

/* EXPANDED STYLES*/ 

.result-item-expanded{
    background: rgb(240,240,230);
    width: 74vw;
    border: 3px solid lightgray;
    padding: 1vh;
    margin: 1vh;
    border-radius: 2px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.result-item-expanded-mobile{
    width: 92vw;
    padding: 1vh;
    margin: 1vh;
}

.result-item-expanded:hover{
    background: rgb(245,245,205);
    border: 3px solid gray;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.3);
}

.result-image-expanded{
    width: 20vw;
    height: 20vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid dimgray;
    border-radius: 1vw;
    margin: 1vh;
}

.result-title-expanded{
    font-size: 4vh;
    text-decoration: underline;
}

.result-description-expanded{
    font-size: 2.5vh;
    width: 27vw;
    height: 10vh;
    overflow: hidden;
    background: white;
    margin: 1vh;
    padding: 1vh;
    word-break: normal;
}

.result-label-expanded{
    margin: 2vh;
}

.list-item-expanded{
    width: auto;
    border: 1px solid black;
    padding: .5vh;
    margin: .5vh;
    line-height: 200%;
}

/* FULL STYLES*/ 

.full-image-row{
    border: .5px solid black;
    margin-right: 2vw;
    padding: .5vw;
}

.result-content-full{
    width: 50vw;
}

.result-title-full{
    width: 70vw;
    font-size: 7vh;
    text-decoration: underline;
    margin: 1vh;
}

.result-title-full-mobile{
    width: 80vw;
    font-size: 4vh;
    margin: .5vh;
}

.result-header-full{
    width: 50vw;
    font-weight: 600;
    font-size: 4vh;
    height: 4vh;
    margin: 1vh;
    margin-top 2vh;
    border-bottom: .5px solid black;
    display: inline-flex;
}

.result-header-full-mobile{
    width: 40vw;
    font-size: 3vh;
    height: 3vh;
    margin: 1vh;    
}

.result-item-full{
    margin: 1vh;
    font-size: 150%; 
}

.result-item-full-mobile{
    width: 98vw;
    margin: 1vw;
    font-size: 110%; 
}

.result-content-full-mobile{
    width: 70vw;
}

.result-image-full{
    width: 20vw;
    height: 20vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid dimgray;
    border-radius: 1vw;
}

.result-label-full{
    font-weight: 600;
    vertical-align: middle;
    font-size: 4vh;
    margin: 2vh;
}

.result-label-full-mobile{
    vertical-align: middle;
    font-size: 2.5vh;
    margin: 1vh;
}

.list-item-full{
    background: beige;
    font-size: 3vh;
    border: 1px solid black;
    padding: .5vh;
    margin: 1vh;
    box-shadow: 1px 1px 1px 1px transparent;
}

.list-item-full-mobile{
    font-size: 2vh;
    border: 1px solid black;
    padding: .5vh;
    margin: 1vh;
}

.list-item-full:hover{
    background: rgb(245,245,170);
    border: 1px solid dimgray;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
}

.result-container-full{
    
}

.result-description-text-full{
    font-style: italic;
    width: 100%;
    font-size: 3vh;
    padding: 3vw;
    padding-left: 6vw;
}

.result-description-text-full-mobile{
    
    width: 100%;
    font-size: 2vh;
    padding: 1vh;
    padding-left: 3vh;
}

/*BROWSE*/

.browse-header{
    font-size: 5vh;
}

.browse-header-mobile{
    font-size: 3.5vh;
}

.browse-subhead{
    color: dimgray;
    font-size: 5vh;
    width: 100%;
    text-decoration: underline;
}

.browse-content{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.result-item-browse{
    width: 23vw;
    height: 20vw;
    border: 1px solid black;
    padding: 1vh;
    margin: 1vh;
    border-radius: 2px;
    background: rgb(245,245,205);
}

.result-item-browse-mobile{
    width: 28vw;
    height: 28vw;
}

.result-item-browse:hover{
    background: rgb(245,245,170);
}

.result-label-browse{
    font-weight: 800;
    font-size: 3.5vh;
    padding: 1vh;
}

.result-label-browse-mobile{
    font-size: 2.3vh;
    padding: .5vh;
}

.result-image-browse{
    width: 13vw;
    height: 13vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid dimgray;
    border-radius: 1vw;
}

.list-item-browse{
    padding: .5vh;
}

/*RECENT*/

.recent-container{
    width: 110vw;
    height: 27vh;
    margin-top: 23vh;
    margin-left: -10vw;
    padding-left: 10vw;
    overflow-y: hidden;
    overflow-x: scroll;
}

.recent-content{
    height: 26vh;
}

.recent-image{
    height: 25vh;
    width: 25vh;
    border: 3px solid lightgray;
    margin-left: 1vw;
    background: dimgray;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: right;
    font-size: 4vh;
    word-wrap: break-word;
    color: dimgray;
    border-radius: 1vw;
    box-shadow: inset 1px 1px 5vw 3px rgba(0,0,0,.1);
}

.recent-image-mobile{
    height: 15vh;
    width: 15vh;
    font-size: 3vh;
    color: goldenrod;
}

.recent-image:hover{
    border: 3px solid dimgray;
    color: goldenrod;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.5);
}


.recent-label{
    font-size: 4vh;
    color: aliceblue;
}

/*ERROR REPORTING*/

.mistake-reporter-full{
    margin-left: -.5vw;
    margin-top: -.5vh;
    font-size: 2vh;
}

.mistake-reporter-content{
    font-size: 3vh;
    padding: 1vw;
    background: 1px solid lightblue;
}

/*Blog*/

.blog-header{
    font-size: 6vh;
}

/*ADVERTISINGs*/

.ad{
    border: 1px solid dimgray;
    border-radius: 1px;
    background: lightblue;
    box-shadow: inset 1px 1px 5vw 3px rgba(0,0,0,.1);
}

.ad:hover{
    border: 2px solid dimgray;
}

.ad-small{
    width: 12vw;
    height: 12vw;
}

.ad-sidebar{
    width: 19vw;
    height: 35vh;
    margin: 1vw;
}

.ad-expanded{
    width: 20vw;
    height: 20vw;
    margin: 1vh;
    border-radius: 1vw;
}

.ad-full{
    width: 20vw;
    height: 20vw;
}
/*MISC*/

.hover:hover{
    background: rgb(245,245,205);
}

.icon{
    padding: 0;
    margin: 0;
    text-shadow: 1px 1px goldenrod;
}

.icon:hover{
    color: goldenrod;
    text-shadow: 1px 1px black;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 15vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.center{
    align-content: center;
    text-align: center;
}

.inline{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.inline-flex{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.inline-wrap{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.inline-block{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: top;
}

.underline{
    text-decoration: underline;
}

.box{
    border: 1px solid black;
    padding: .5vh;
    margin: 1vh;
}

.hidden{
    display: none;
}

.invisible{
    visibility: hidden;
}

.highlight{
    background: lightblue;
}

.fade-out{
    -webkit-animation: fade 5s 1 forwards reverse; /* Safari 4+ */
    -moz-animation:    fade 5s 1 forwards reverse; /* Fx 5+ */
    -o-animation:      fade 5s 1 forwards reverse; /* Opera 12+ */
    animation:         fade 5s 1 forwards reverse; /* IE 10+, Fx 29+ */
}

.fade-in{
    -webkit-animation: fade 5s 1 forwards; /* Safari 4+ */
    -moz-animation:    fade 5s 1 forwards; /* Fx 5+ */
    -o-animation:      fade 5s 1 forwards; /* Opera 12+ */
    animation:         fade 5s 1 forwards; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes fade {
  0%   { opacity: .7; }
  100% { opacity: 1; }
}
@-moz-keyframes fade {
  0%   { opacity: .7; }
  100% { opacity: 1; }
}
@-o-keyframes fade {
  0%   { opacity: .7; }
  100% { opacity: 1; }
}
@keyframes fade {
  0%   { opacity: .7; }
  100% { opacity: 1; }
}